header.navbar {
  height: 60px;
  background-color: #6b9ac4;
}

div.menu .menu-item.tile.tile-centered {
  margin-top: 5px;
}

header.example {
  color: #ffffff;
}

.menu.hero-list {
  z-index: inherit;
  transform: none;
  min-height: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

.navbar-center text-error {
  color: #ffffff;
  font-size: 24pt;
}
